.card-project{
    width: 620px;
    height: 250px;
    margin: 10px;
    background-color: #0B3C4C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.card-project .name{
    font-size: 30px;
}

.card-project .category{
    font-size: 18px;
}

